
{{ partial "head.html" . }}

<div class="homepage-lead"><div class="homepage-lead-container">
  <h1>OHSU Computational Biology.</h1>
    <p>The OHSU computational biology program supports the development of innovative computational approaches to a range of programs in basic and translational research throughout OHSU. Research in the computational biology program focuses on integrative analysis of high dimensional heterogeneous molecular, imaging, and clinical data to infer predictive models of disease-related phenotypes and functional interventions that induce desired phenotypic transitions. The computational biology team has advanced training in machine learning, statistical techniques, and a track record of innovation in a biomedical application, and are ready to provide any support that might be necessary for the OHSU research and clinical community.</p>
</div></div>

<div class="homepage">
  <h3>Projects</h3>
  <ul>
    <li><a href="https://github.com/ohsu-comp-bio/funnel">Funnel</a></li>
    <li><a href="https://github.com/bmeg/arachne">Arachne</a></li>
  </ul>

</div>

</body>
</html>
