
{{ partial "head.html" . }}

<div class="homepage-lead"><div class="homepage-lead-container">
  <h1>OHSU Computational Biology.</h1>
    <p>The OHSU computational biology program supports the development of innovative computational approaches to a range of programs in basic and translational research throughout OHSU. Research in the computational biology program focuses on integrative analysis of high dimensional heterogeneous molecular, imaging, and clinical data to infer predictive models of disease-related phenotypes and functional interventions that induce desired phenotypic transitions. The computational biology team has advanced training in machine learning, statistical techniques, and a track record of innovation in a biomedical application, and are ready to provide any support that might be necessary for the OHSU research and clinical community.</p>
</div></div>

<div class="homepage">

  <div class="homepage-demo">
    <h2>Heading again.</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam lacus magna, dictum ac augue id, pretium commodo odio. In orci quam, luctus sit amet auctor sagittis, egestas porttitor justo. Mauris id malesuada nunc, id rhoncus libero. In vulputate nibh a aliquam posuere. Donec eleifend, felis a dapibus lacinia, mauris quam euismod nulla, sit amet porta diam purus quis mauris. Phasellus turpis metus, tincidunt eu faucibus ut, finibus non quam. Etiam et tortor vel magna maximus pretium. Curabitur facilisis suscipit est, in euismod eros eleifend ac. Etiam vel convallis odio. Sed in arcu ut neque imperdiet semper eu id augue. </p>
  </div>

  <hr>

  <div class="homepage-more">

    <h2>Join us!</h2>

    <div class="section group">

      <div class="col span_4_of_12">
        <h3>Heading.</h3>
        <p>Mauris euismod, lacus rutrum aliquet mollis, quam nulla mollis eros.</p>
      </div>

      <div class="col span_4_of_12">
        <h3>Heading.</h3>
        <p>Mauris euismod, lacus rutrum aliquet mollis, quam nulla mollis eros.</p>
      </div>

      <div class="col span_4_of_12">
        <h3>Heading.</h3>
        <p>Mauris euismod, lacus rutrum aliquet mollis, quam nulla mollis eros.</p>
      </div>

    </div>

    <div class="homepage-footer"></div>

</div></div>

</body>
</html>
